:root {
  --box-size: 40px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  background: #ccc;
  font-family:'Courier New', Courier, monospace;
}

@font-face {
  font-family: "military";
  src: url("fonts/love-box.regular.ttf") format("truetype");
}

h1 {
  font-family: "military";
  text-align: center;
}

.gameboard {
  background-color: white;
}

.gameboard div {
  border: 1px solid black;
  height: var(--box-size);
}

#Computer-board {
  display: none;
}

#Computer-board div:hover {
  border: 3px solid red;
  cursor: crosshair;
}

#PlayerOne-board div:hover {
  cursor: pointer;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, var(--box-size));
}

.ship {
  background-color: steelblue;
}

.clicked {
  background-color: #b4c7dd
}

.ship.clicked, .enemy-ship.clicked {
  background-color: crimson;
}

.possible {
  background-color: gold;
}

#info {
  text-align: center;
  font-weight: bold;
}

#rotate-btn {
  cursor: pointer;
}

#rotate-btn:hover {
  background: #fff;
  border-radius: 5px;
}

.container {
  display: grid;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ccc;
  margin: 30vh auto;
  text-align: center;
  padding: 30px;
  width: 40%;
  font-size: 2rem;
}

#play-again {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

#play-again:hover {
  background-color: black;
  color: white;
}