:root {
  --box-size: 40px;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
}

.gameboard div {
  border: 1px solid black;
  height: var(--box-size);
}

#Computer-board div:hover {
  border: 1px solid red;
  cursor: pointer;
}

#PlayerOne-board div:hover {
  cursor: pointer;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, var(--box-size));
}

.ship {
  background-color: steelblue;
}

.clicked {
  background-color: plum;
}

.ship.clicked {
  background-color: crimson;
}

.enemy-ship.clicked {
  background-color: palegreen;
}

.possible {
  background-color: gold;
}
